# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\User\Documents\Universidad - Estudios - Auto Aprendizaje\2021\Desarrollo Programacion\Sofka U\Desarrollo\Domain Driven Design\Dojo\reto ddd\quien quiere sermillonario\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
quien quiere ser millonario.iml
/target